<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NumberID>281</NumberID>
  <Avaliable>0.0008</Avaliable>
  <WeightLight>0.0012</WeightLight>
  <WeightMedium>0.002</WeightMedium>
  <WeightHeavy>0.0035</WeightHeavy>
  <ChargingRate>1</ChargingRate>
</config>